<html>
  <head>
    <title>Auditors Lading Page</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
  </head> 
  
  <body>

    <header>
      <h1> Auditors </h1>
      <ul>
        <li onclick="window.location.href='/register';">Section1</li>
        <p>Hello parag...................</p>
        <li onclick="window.location.href='/register';">Section2</li>
        <p>Hello parag...................</p>
        <li onclick="window.location.href='/register';">Section3</li>
        <p>Hello parag...................</p>

        <form>
          <h5>Search</h5>
          <input type="search" placeholder="search">
        </form>
      </ul>
    </header>

    <div>
      <h3>Title.....</h3>
      <p> Helllo ......................</p>
      <button onclick="window.location.href='/register';">B1</button>
      <br>
      <button>B2</button>
      <p><b>Hello ...................</b></p>
    </div>

    <div>

    </div>
  </body>
</html>