<html>
    <head>
        <title>Login</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
    </head>

    <body>
      <div class="wrapper fadeInDown">
        <img src="{{url_for('static', filename='image/logo-no-background.png')}}">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Login In </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{{url_for('static', filename='/image/UserIcon.jpg')}}" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="UserName" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In" id="lbut">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <br>
            <a class="underlineHover" onclick="window.location.href='/Registration';">Register</a>
          </div>
    </body>
</html>